apiVersion: v1
kind: ConfigMap
metadata:
  name: anchor-platform-reference-server-config
  namespace: anchor-platform-dev
data:
  # TODO: remove all secrets (ex: move to env vars, k8s secrets, vault, etc...)
  reference-config.yaml: |
    server:
      servlet:
        context-path: /
        port: 8081

    #
    # The settings of the anchor reference serer
    #
    anchor.settings:
      version: 0.0.1
      platformApiEndpoint: https://anchor-sep-server-dev.stellar.org
      distributionWallet: GBN4NNCDGJO4XW4KQU3CBIESUJWFVBUZPOKUZHT7W7WRB7CWOA7BXVQF
      distributionWalletMemo:
      distributionWalletMemoType:    

    integration-auth:
      authType: JWT_TOKEN
      platformToAnchorSecret: myPlatformToAnchorSecret
      anchorToPlatformSecret: myAnchorToPlatformSecret
      expirationMilliseconds: 30000
    
    event:
      # The listener type. values: [kafka, sqs, amqp]
      # If the listener is kafka, the kafka listener is configured in kafka.listener section.
      # If the listener is sqs, the sqs listener is configured in the sqs.listener section.
      # If the listener is amqp, the AMQP listner is configured in the ampq.listner section.
      listenerType: kafka

    kafka.listener:
      bootstrapServer: anchor-platform-kafka:9092
      eventTypeToQueue:
        all: dev_ap_event_single_queue
        quoteCreated: dev_ap_event_quote_created
        transactionCreated: dev_ap_event_transaction_created
        transactionStatusChanged: dev_ap_event_transaction_status_changed
        transactionError: dev_ap_event_transaction_error

    #
    # Spring Data JDBC settings for H2
    #
    spring.datasource.url: jdbc:h2:mem:test
    spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.H2Dialect

    # force gson as serializer/deserializer over jackson
    spring.mvc.converters.preferred-json-mapper: gson
    spring.flyway.enabled: false

    #
    # Spring Data JDBC settings for SQLite
    #
    #spring.jpa.database-platform=org.stellar.anchor.reference.sqlite.SQLiteDialect
    #spring.jpa.hibernate.ddl-auto=update
    #spring.jpa.generate-ddl=true
    #spring.datasource.url=jdbc:sqlite:anchor-reference-server.db
    #spring.datasource.driver-class-name=org.sqlite.JDBC
    #spring.datasource.username=admin
    #spring.datasource.password=admin
