# REQUIRED - The secret key of JWT encryption
JWT_SECRET=secret

# REQUIRED - The private key of the SEP-10 challenge.
# We highly recommend that this private key should not be used to sign any transactions to submit to the Stellar
# network.
SEP10_SIGNING_SEED=SAX3AH622R2XT6DXWWSRIDCMMUCCMATBZ5U6XKJWDO7M2EJUBFC3AW5X

# REQUIRED - JWT secrets used to communicate between Anchor and Platform.
PLATFORM_TO_ANCHOR_SECRET=myPlatformToAnchorSecret
ANCHOR_TO_PLATFORM_SECRET=myAnchorToPlatformSecret

# OPTIONAL (only if using Circle)
CIRCLE_API_KEY=QVBJX0tFWTpjOWRjOWU3YjgzNTFhZDIwNWNlODEzYjkyZDEzZTU1YzpkY2U1MzVhMTExYjNjODU1YzQzNjMyZTQ5NWJhNDdlZg==

# REQUIRED - Stellar account secret key
PAYMENT_GATEWAY_STELLAR_SECRET_KEY=secret

# OPTIONAL (only if using SQS for event messaging) - SQS secrets
SQS_PUBLISHER_ACCESS_KEY=foo2
SQS_PUBLISHER_SECRET_KEY=bar2

# OPTIONAL (only if using Sqlite as a database) - Sqlite secrets
SQLITE_USERNAME=admin
SQLITE_PASSWORD=admin

# OPTIONAL (only if using Postgres as a database) - Postgres secrets
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

AWS_ACCESS_KEY_ID=<ACCESS_KEY>
AWS_SECRET_ACCESS_KEY=<ACCESS_SECRET>
AWS_REGION=us-east-1
