--- 
os: linux
version: 0.1
Resources: 
  - 
    TargetService: 
      Type: AWS::ECS::Service
      Properties: 
        LoadBalancerInfo: 
          ContainerName: "dev-sep"
          ContainerPort: 8080
        TaskDefinition: "arn:aws:ecs:us-east-2:245943599471:task-definition/dev-sep:5"