fullName: anchor-platform
service:
   containerPort: 8080
   servicePort: 8080
   replicas: 1
   type: NodePort
   name: sep
image: 
   repo: stellar
   name: anchor-platform
   tag: 89bece0
   #tag: "1299714" worked
   # docker pull stellar/anchor-platform:1299714
   # tag: 37ef1fb #8 days ago failed
   #tag: 41bcd38 # 8 days ago working
   #tag: 3d97b51 9 days ago working
   #tag: 9bbea30 10 days ago working
   #tag: 632ca64 10 days ago
   # working tag: ff0559e
   #tag: 89bece0
   # broken tag: 75981ff
   # tag: a8f920a
   # Not oWorking tag: af43af1
   # working tag: 1fcdb06
   # tag: 631544e works
   # tag: 20abf59 (works)
   # tag: e25776b liquibase errors
   tag: latest
   pullPolicy: Always
deployment:
   startupProbePeriodSeconds: 10
   startupProbeFailureThreshold: 30
   serviceAccountName: default
   volumeMounts:
      secrets:
         - name: apsigningseed
           mountPath: signingseed 
      configMaps:
         - name: assets
           mountPath: assets
   hosts:
     - host: "your_anchor_domain.com"
       path: /
       pathType: Prefix
       backend:
         servicePort: "{{ .Values.service.containerPort }}"
         serviceName: "{{ .Values.fullName }}-svc-{{ .Values.service.name }}"
   env:
   - name: STELLAR_ANCHOR_CONFIG
     value: file:/config/anchor-config.yaml
   envFrom:
   - secretRef:
       name: apsigningseed
ingress:
   labels:
     app: appy
     test: label_test
   annotations:
     kubernetes.io/ingress.class: "public"
     cert-manager.io/cluster-issuer: "default"
     ingress.kubernetes.io/ssl-redirect: "true"
     ingress.kubernetes.io/browser-xss-filter: "true"
     ingress.kubernetes.io/frame-deny: "true"
     ingress.kubernetes.io/content-type-nosniff: "true"
     ingress.kubernetes.io/hsts-max-age: "31536000"
     ingress.kubernetes.io/hsts-include-subdomains: "true"
   tls:
     host: "your_anchor_domain.com"
     secretName: anchor-platform-sep-server-cert 
   rules:
      hosts:
        - host: "your_anchor_domain.com"
          path: /
          pathType: Prefix
          backend:
            servicePort: "{{ .Values.service.containerPort }}"
            serviceName: "{{ .Values.fullName }}-svc-{{ .Values.service.name }}"
stellar:
   toml:
      #accounts: ['"GCHLHDBOKG2JWMJQBTLSL5XG6NO7ESXI2TAQKZXCXWXB5WI2X6W233PR"'] 
      signing_key: "GCHLHDBOKG2JWMJQBTLSL5XG6NO7ESXI2TAQKZXCXWXB5WI2X6W233PR"
      documentation:
         ORG_NAME: "Stellar Development Foundation"
         ORG_URL: "https://www.stellar.org"
         ORG_DESCRIPTION: "Stellar Network"
         ORG_URL: "https://your_org_url.png"
         ORG_SUPPORT_EMAIL: "reece@stellar.org"
   anchor:
      data_access:
         type: data-spring-jdbc
         settings: data-spring-jdbc-sqlite
#         settings: data-spring-jdbc-aws-aurora-postgres
#   data_spring_jdbc_aws_aurora_postgres:
#     spring.jpa.generate-ddl: true
#     spring.jpa.database: POSTGRESQL
#     spring.jpa.show-sql: false
#     spring.datasource.driver-class-name: org.postgresql.Driver
#     spring.datasource.type: org.stellar.anchor.platform.databaseintegration.IAMAuthDataSource
#     spring.datasource.url: jdbc:postgresql://database-aurora-iam-instance-1.chizvyczscs2.us-east-1.rds.amazonaws.com:5432/anchorplatform
#     spring.datasource.username: anchorplatform1
#     spring.datasource.hikari.max-lifetime: 840000    # 14 minutes because IAM tokens are valid for 15min
##     spring.mvc.converters.preferred-json-mapper: gson
#     spring.flyway.user: postgres
#     spring.flyway.password: password   # can use a token value if authenticating via IAM
#     spring.flyway.url: jdbc:postgresql://database-aurora-iam-instance-1.chizvyczscs2.us-east-1.rds.amazonaws.com:5432/anchorplatform
#     spring.flyway.locations: classpath:/db/migration
   data_spring_jdbc_sqlite:
      spring.jpa.database-platform: org.stellar.anchor.platform.sqlite.SQLiteDialect
      spring.jpa.hibernate.ddl-auto: update
      spring.jpa.generate-ddl: true
      spring.jpa.hibernate.show_sql: false
      spring.datasource.url: jdbc:sqlite:anchor-proxy.db
      spring.datasource.driver-class-name: org.sqlite.JDBC
      spring.datasource.username: ${SQLITE_USERNAME}
      spring.datasource.password: ${SQLITE_PASSWORD}
      spring.mvc.converters.preferred-json-mapper: gson
      spring.flyway.user: ${SQLITE_USERNAME}
      spring.flyway.password: ${SQLITE_USERNAME} # can use a token value if authenticating via IAM
      spring.flyway.url: jdbc:sqlite:anchor-proxy.db
      spring.flyway.locations: classpath:/db/migration
      #spring.flyway.enabled: false
   app_config:
      app:
         stellarNetwork: TESTNET
         hostUrl: https://your_anchor_domain.com
         backendUrl: https://your_anchor_domain.com
         jwtSecretKey: ${JWT_SECRET}
         assets: file:/assets/assets.json
         platformToAnchorSecret: ${PLATFORM_TO_ANCHOR_SECRET}
         anchorToPlatformSecret: ${ANCHOR_TO_PLATFORM_SECRET}
      sep1:
        enabled: true
        stellarFile: file:/config/stellar-wks.toml
      sep10: 
        enabled: true
        homeDomain: your_anchor_domain.com
        signingSeed: ${SEP10_SIGNING_SEED}
        requireKnownOmnibusAccount: false
        omnibusAccountList:
          # - GDOHXZYP5ABGCTKAEROOJFN6X5GY7VQNXFNK2SHSAD32GSVMUJBPG75E
          # - GC5KRPVW4TFA6ORIGTOFM3DEG6DSLACRXGDN3LNCAI7IPAGIWMVXUHVS 
      sep12:
        enabled: true
        customerIntegrationEndpoint: https://anchor-reference-server-dev.stellar.org
      sep31:
        enabled: true
        feeIntegrationEndPoint: https://anchor-reference-server-dev.stellar.org
      sep38:
        enabled: true
        quoteIntegrationEndPoint: https://anchor-reference-server-dev.stellar.org
      circle:
         circleUrl: https://api-sandbox.circle.com
         apiKey: ${CIRCLE_API_KEY}
      event:
         enabled: true
         publisherType: kafka
      kafka_publisher:
         bootstrapServer: reecekafka-0.reecekafka-headless.sandbox.svc.cluster.local:9092 
      circle_payment_observer:
         enabled: true
      payment_gateway:
         circle:
            enabled: true
         stellar:
            enabled: false
            name: "stellar"
            horizonUrl: https://horizon-testnet.stellar.org
            secretKey: secret # stellar account secret key
      spring:
         logging:
            level:
               root: DEBUG
               org.springframework: DEBUG
               org.springframework.web.filter: DEBUG
               org.stellar: DEBUG
