version: '2.4'
services:
  platform:
    image: stellar/anchor-platform:edge
    command: --sep-server
    volumes:
      - ../config:/config
    ports:
      - "8080:8080" # sep-server
      - "8082:8082" # Java management server

  reference-server:
    image: stellar/anchor-platform:edge
    command: "--anchor-reference-server"
    environment:
      - REFERENCE_SERVER_CONFIG_ENV=file:/config/java-reference-server-config.yaml
    volumes:
      - ../config:/config
    ports:
      - "8081:8081"

  sep24-reference-ui:
    image: stellar/sep24-reference-ui
    ports:
      - "3000:80"

  observer:
    image: stellar/anchor-platform:edge
    build:
      context: ../../../../../essential-tests/src/test
      dockerfile: essential-tests/docker-compose-configs/Dockerfile
    command: "--stellar-observer"
    volumes:
      # add mounts for the new config directory
      - ../config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"

  custody-server:
    image: stellar/anchor-platform:edge
    command: "--custody-server"
    volumes:
      # add mounts for the new config directory
      - ../config:/config

  kafka:
    platform: linux/x86_64
    image: confluentinc/cp-kafka:7.4.3
    ports:
      - "29092:29092"
      - "29093:29093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT'
      KAFKA_LISTENERS: 'INTERNAL://kafka:29092,CONTROLLER://kafka:29093'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      CLUSTER_ID: 'ciWo7IWazngRchmPES6q5A=='
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'

  zookeeper:
    platform: linux/x86_64
    image: confluentinc/cp-zookeeper:6.1.9
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  db:
    image: postgres:15.2-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
